// These lines are aggregated as module.exports entries in webpack.config.js file by the webpack_script.py in aggregated-frontend module

['clinician-portal.ClinicForms']: { 'dependOn': ['cards-dataentry.LiveTable'], 'import': './src/clinician-portal/ClinicForms.jsx' }
['clinician-portal.ClinicVisits']: { 'dependOn': ['cards-dataentry.LiveTable'], 'import': './src/clinician-portal/ClinicVisits.jsx' }
['clinician-portal.ClinicDashboard']: { 'dependOn': ['cards-dataentry.Questionnaires', 'clinician-portal.ClinicForms', 'clinician-portal.ClinicVisits'], 'import': './src/clinician-portal/ClinicDashboard.jsx' }
['clinician-portal.PrintHeader']: './src/clinician-portal/PrintHeader.jsx'
['clinician-portal.DashboardSettingsConfiguration']: { 'dependOn': ['cards-login.ReLoginDialog'], 'import': './src/clinician-portal/DashboardSettingsConfiguration.jsx' }
['clinician-portal.DashboardSettingsConfigurationIcon']: '@mui/icons-material/Dashboard'
