// These lines are aggregated as module.exports entries in webpack.config.js file by the webpack_script.py in aggregated-frontend module

['clinician-dashboard.Visit']: { 'dependOn': ['cards-login.ReLoginDialog'], 'import': './src/clinician-dashboard/Visit.jsx' }
['clinician-dashboard.Patient']: { 'dependOn': ['cards-login.ReLoginDialog'], 'import': './src/clinician-dashboard/Patient.jsx' }
['clinician-dashboard.Form']: { 'dependOn': ['cards-login.ReLoginDialog', 'cards-dataentry.Forms', 'cards-dataentry.FormView', 'cards-pedigree.Pedigree'], 'import': './src/clinician-dashboard/Form.jsx' }
['clinician-dashboard.ClinicForms']: { 'dependOn': ['cards-dataentry.LiveTable'], 'import': './src/clinician-dashboard/ClinicForms.jsx' }
['clinician-dashboard.ClinicVisits']: { 'dependOn': ['cards-dataentry.LiveTable'], 'import': './src/clinician-dashboard/ClinicVisits.jsx' }
['clinician-dashboard.ClinicDashboard']: { 'dependOn': ['cards-dataentry.Questionnaires', 'clinician-dashboard.ClinicForms', 'clinician-dashboard.ClinicVisits'], 'import': './src/clinician-dashboard/ClinicDashboard.jsx' }
['clinician-dashboard.PrintHeader']: './src/clinician-dashboard/PrintHeader.jsx'
['clinician-dashboard.DashboardSettingsConfiguration']: { 'dependOn': ['cards-login.ReLoginDialog'], 'import': './src/clinician-dashboard/DashboardSettingsConfiguration.jsx' }
['clinician-dashboard.DashboardSettingsConfigurationIcon']: '@mui/icons-material/Dashboard'
['clinician-dashboard.FormView']: { 'dependOn': ['cards-dataentry.LiveTable'], 'import': './src/clinician-dashboard/FormView.jsx' }
['clinician-dashboard.SubjectView']: { 'dependOn': ['cards-dataentry.LiveTable'], 'import': './src/clinician-dashboard/SubjectView.jsx' }
['clinician-dashboard.Forms']: { 'dependOn': ['cards-login.ReLoginDialog'], 'import': './src/clinician-dashboard/Forms.jsx' }
['clinician-dashboard.Subjects']: { 'dependOn': ['cards-login.ReLoginDialog'], 'import': './src/clinician-dashboard/Subjects.jsx' }
