// These lines are aggregated as module.exports entries in webpack.config.js file by the webpack_script.py in aggregated-frontend module

['cards-variants.variantsIcon']: '@mui/icons-material/Subtitles'
['cards-variants.variantFilesContainer']: { 'dependOn': ['cards-login.ReLoginDialog'], 'import': './src/variantFilesContainer.jsx' }
