// These lines are aggregated as module.exports entries in webpack.config.js file by the webpack_script.py in aggregated-frontend module

['patient-portal.LandingPage']: './src/patient-portal/LandingPage.jsx'
['patient-portal.PatientPortalIndex']: './src/patient-portal/index.jsx'
['patient-portal.Unsubscribe']: './src/patient-portal/Unsubscribe.jsx'
['patient-portal.BrandInfo']: './src/patient-portal/BrandInfo.jsx'
['patient-portal.ToULink']: './src/patient-portal/ToULink.jsx'
['patient-portal.UnsubscribeLink']: './src/patient-portal/UnsubscribeLink.jsx'
['patient-portal.ClinicIcon']: '@mui/icons-material/Event'
['patient-portal.Clinics']: { 'dependOn': ['cards-dataentry.Questionnaires'], 'import': './src/patient-portal/Clinics.jsx' }
['patient-portal.PatientAccessConfiguration']: { 'dependOn': ['cards-login.ReLoginDialog'], 'import': './src/patient-portal/PatientAccessConfiguration.jsx' }
['patient-portal.PatientAccessConfigurationIcon']: '@mui/icons-material/MedicalInformation'
['patient-portal.ToUConfiguration']: { 'dependOn': ['cards-login.ReLoginDialog'], 'import': './src/patient-portal/ToUConfiguration.jsx' }
['patient-portal.ToUConfigurationIcon']: '@mui/icons-material/Handshake'
['patient-portal.SurveyInstructionsConfiguration']: { 'dependOn': ['cards-login.ReLoginDialog'], 'import': './src/patient-portal/SurveyInstructionsConfiguration.jsx' }
['patient-portal.SurveyInstructionsConfigurationIcon']: '@mui/icons-material/Quiz'
