// These lines are aggregated as module.exports entries in webpack.config.js file by the webpack_script.py in aggregated-frontend module

['cards-principals.userIcon']: '@mui/icons-material/Person'
['cards-principals.groupIcon']: '@mui/icons-material/Group'
['cards-principals.UsersContainer']: './src/Userboard/Users/UsersContainer.jsx'
['cards-principals.GroupsContainer']: './src/Userboard/Groups/GroupsContainer.jsx'
