// These lines are aggregated as module.exports entries in webpack.config.js file by the webpack_script.py in aggregated-frontend module

['cards-principals.userIcon']: '@mui/icons-material/Person.js'
['cards-principals.groupIcon']: '@mui/icons-material/Group.js'
['cards-principals.userscontainer']: './src/Userboard/Users/usersContainer.jsx'
['cards-principals.groupscontainer']: './src/Userboard/Groups/groupsContainer.jsx'
