// These lines are aggregated as module.exports entries in webpack.config.js file by the webpack_script.py in aggregated-frontend module

['cards-homepage.themeindex']: './src/themePage/index.jsx'
['cards-homepage.modelOrganismsIcon']: '@mui/icons-material/Pets.js'
['cards-homepage.variantsIcon']: '@mui/icons-material/Subtitles.js'
['cards-homepage.adminIcon']: '@mui/icons-material/Settings.js'
['cards-homepage.adminDashboard']: './src/adminDashboard/AdminDashboard.jsx'
['cards-homepage.QuickSearchResults']: { 'dependOn': ['cards-dataentry.Forms'], 'import': './src/themePage/QuickSearchResults.jsx' }
['cards-homepage.QuickSearchConfigurationIcon']: '@mui/icons-material/Pageview.js'
['cards-homepage.QuickSearchConfiguration']: { 'dependOn': ['cards-login.loginDialogue'], 'import': './src/themePage/QuickSearchConfiguration' }
