// These lines are aggregated as module.exports entries in webpack.config.js file by the webpack_script.py in aggregated-frontend module

['cards-vocabularies.VocabulariesAdminPage']: { 'dependOn': ['cards-login.ReLoginDialog'], 'import': './src/VocabulariesAdminPage.jsx' }
['cards-vocabularies.VocabulariesIcon']: '@mui/icons-material/AccountTree'
['cards-vocabularies.VocabularyQuestion']: './src/questionnaire/VocabularyQuestion.jsx'
