// These lines are aggregated as module.exports entries in webpack.config.js file by the webpack_script.py in aggregated-frontend module

['cards-statistics.statsIcon']: '@mui/icons-material/BarChart.js'
['cards-statistics.AdminStatistics']: { 'dependOn': ['cards-dataentry.Forms', 'cards-dataentry.Questionnaires'], 'import': './src/Statistics/AdminStatistics.jsx' }
['cards-statistics.UserStatistics']: { 'dependOn': ['cards-login.loginDialogue'], 'import': './src/Statistics/UserStatistics.jsx' }
