// These lines are aggregated as module.exports entries in webpack.config.js file by the webpack_script.py in aggregated-frontend module

['cards-dataentry.LiveTable']: { 'dependOn': ['cards-login.ReLoginDialog'], 'import': './src/dataHomepage/LiveTable.jsx' }
['cards-dataentry.FormList']: { 'dependOn': ['cards-dataentry.LiveTable'], 'import': './src/dataHomepage/FormView.jsx' }
['cards-dataentry.Forms']: { 'dependOn': ['cards-dataentry.LiveTable', 'cards-dataentry.FormList'], 'import': './src/dataHomepage/Forms.jsx' }
['cards-dataentry.Questionnaires']: { 'dependOn': ['cards-dataentry.Forms'], 'import': './src/dataHomepage/Questionnaires.jsx' }
['cards-dataentry.Subjects']: { 'dependOn': ['cards-dataentry.LiveTable', 'cards-dataentry.Forms'], 'import': './src/dataHomepage/Subjects.jsx' }
['cards-dataentry.SubjectTypes']: { 'dependOn': ['cards-dataentry.LiveTable'], 'import': './src/dataHomepage/SubjectTypes.jsx' }
['cards-dataentry.subjectsIcon']: '@mui/icons-material/AssignmentInd'
['cards-dataentry.subjectTypeIcon']: '@mui/icons-material/Category'
['cards-dataentry.questionnairesIcon']: '@mui/icons-material/Assignment'
['cards-dataentry.formsIcon']: '@mui/icons-material/Description'
['cards-dataentry.Form']: { 'dependOn': ['cards-login.ReLoginDialog', 'cards-pedigree.Pedigree', 'cards-dataentry.SubjectSelector'], 'import': './src/questionnaire/Form.jsx' }
['cards-dataentry.FormView']: { 'dependOn': ['cards-dataentry.Form'], 'import': './src/questionnaire/FormView.jsx' }
['cards-dataentry.SubjectView']: { 'dependOn': ['cards-dataentry.Subjects'], 'import': './src/dataHomepage/SubjectView.jsx' }
['cards-dataentry.SubjectSelector']: { 'dependOn': ['cards-login.ReLoginDialog'], 'import': './src/questionnaire/SubjectSelector.jsx' }
['cards-dataentry.NewFormDialog']: { 'dependOn': ['cards-login.ReLoginDialog', 'cards-dataentry.SubjectSelector'], 'import': './src/dataHomepage/NewFormDialog.jsx' }
['cards-dataentry.userDashboard']: { 'dependOn': ['cards-login.ReLoginDialog', 'cards-dataentry.NewFormDialog', 'cards-dataentry.SubjectSelector'], 'import': './src/dataHomepage/UserDashboard.jsx' }
['cards-dataentry.Questionnaire']: { 'dependOn': ['cards-login.ReLoginDialog', 'cards-pedigree.Pedigree'], 'import': './src/questionnaire/Questionnaire.jsx' }
['cards-dataentry.Subject']: { 'dependOn': ['cards-login.ReLoginDialog', 'cards-dataentry.NewFormDialog', 'cards-dataentry.Form', 'cards-pedigree.Pedigree', 'cards-dataentry.SubjectSelector'], 'import': './src/questionnaire/Subject.jsx' }
['cards-dataentry.AddressQuestion']: './src/questionnaire/AddressQuestion.jsx'
['cards-dataentry.DicomQuestion']: './src/questionnaire/DicomQuestion.jsx'
['cards-dataentry.IdentifierQuestion']: './src/questionnaire/IdentifierQuestion.jsx'
['cards-dataentry.PedigreeQuestion']: './src/questionnaire/PedigreeQuestion.jsx'
['cards-dataentry.PhoneQuestion']: './src/questionnaire/PhoneQuestion.jsx'
['cards-dataentry.SelectableAreaQuestion']: './src/questionnaire/SelectableAreaQuestion.jsx'
['cards-dataentry.VocabularyQuestion']: './src/questionnaire/VocabularyQuestion.jsx'
