// These lines are aggregated as module.exports entries in webpack.config.js file by the webpack_script.py in aggregated-frontend module

['cards-llm.LLMConfiguration']: { 'dependOn': ['cards-login.ReLoginDialog'], 'import': './src/LLMConfiguration.jsx' }
['cards-llm.LLMConfigurationIcon']: '@mui/icons-material/Psychology'
