// These lines are aggregated as module.exports entries in webpack.config.js file by the webpack_script.py in aggregated-frontend module

['cards-downtime-warning-banner.downtimeBanner']: './src/downtimeBanner.jsx'
['cards-downtime-warning-banner.DowntimeWarningConfigurationIcon']: '@mui/icons-material/Announcement'
['cards-downtime-warning-banner.DowntimeWarningConfiguration']: { 'dependOn': ['cards-login.loginDialog'], 'import': './src/DowntimeWarningConfiguration' }
