// These lines are aggregated as module.exports entries in webpack.config.js file by the webpack_script.py in aggregated-frontend module

['cards-google-apis.GoogleApiKey']: { 'dependOn': ['cards-login.ReLoginDialog'], 'import': './src/googleApiKeyAdminPage.jsx' }
['cards-google-apis.googleIcon']: '@mui/icons-material/Google'
