// These lines are aggregated as module.exports entries in webpack.config.js file by the webpack_script.py in aggregated-frontend module

['cards-google-apis.GoogleApiKey']: { 'dependOn': ['cards-login.ReLoginDialog'], 'import': './src/GoogleApiKeyAdminPage.jsx' }
['cards-google-apis.GoogleIcon']: '@mui/icons-material/Google'
